# Git 配置
gitconfig.yaml

# K8s 配置
kubeconfig.yaml

# 项目目录
# w7panel - submodule: https://github.com/w7panel/w7panel
# w7panel
# w7panel-ui - submodule: https://github.com/w7panel/w7panel-ui
# w7panel-ui
dist/
# docs - submodule: https://github.com/w7panel/docs
# docs
backup_repo/
# codeblitz - submodule: https://github.com/w7panel/codeblitz
# codeblitz

# AI 工作目录
.sisyphus/
