[submodule "w7panel-server"]
	path = w7panel-server
	url = https://github.com/w7panel/w7panel-server.git
[submodule "w7panel-ui"]
	path = w7panel-ui
	url = https://github.com/w7panel/w7panel-ui.git
[submodule "codeblitz"]
	path = codeblitz
	url = https://github.com/w7panel/codeblitz.git
