apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "gpustack.fullname" . }}
  annotations:
    w7.cc/title: "GPUStack"
    title: "GPUStack"
  labels:
    {{- include "gpustack.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "gpustack.selectorLabels" . | nindent 6 }}
  # volumesChaimTemplates:
  #   - name: gpustack
  #     configMap:
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "gpustack.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "gpustack.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }} 
          env:
            - name: RELEASE_NAME_SUFFIX
              value: {{ .Release.Name }}
            - name: BOOTSTRAP_PASSWORD
              value: {{ .Values.bootstrapPassword }}
            - name: TOKEN
              value: {{ .Release.Name }}
            - name: HF_ENDPOINT
              value: https://hf-mirror.com
          command:
            - /bin/sh
          args:
            - '-c'
            - 'gpustack start --disable-worker --token ${TOKEN} --host 0.0.0.0 --port {{ .Values.service.port }} --bootstrap-password ${BOOTSTRAP_PASSWORD}'
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          livenessProbe:
            {{- toYaml .Values.livenessProbe | nindent 12 }}
          readinessProbe:
            {{- toYaml .Values.readinessProbe | nindent 12 }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          {{- with .Values.volumeMounts }}
          volumeMounts:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      volumes:
        - name: gpustack
          persistentVolumeClaim:
            claimName: {{ include "gpustack.fullname" . }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
