{{- if .Values.cluster.redis -}}
apiVersion: apps.kubeblocks.io/v1alpha1
kind: Cluster
metadata:
  name: {{ .Release.Name | trimSuffix "-" }}
  annotations:
      kubeblocks.io/version: "0.9.3"
      w7panel.kubeblocks.io/port: "6379"
      w7panel.kubeblocks.io/account-secret-name: {{ .Release.Name | trimSuffix "-" }}-redis-account-default
      w7panel.kubeblocks.io/host: {{ .Release.Name | trimSuffix "-" }}-redis-redis
      w7panel.kubeblocks.io/configmap-name: {{ .Release.Name | trimSuffix "-" }}-redis-redis-replication-config
      w7panel.kubeblocks.io/configmap-format: "redis"
      w7panel.kubeblocks.io/configmap-key: redis.conf
      w7panel.kubeblocks.io/constraints-name: redis7-config-constraints
      w7panel.kubeblocks.io/reconfigure-name: redis-replication-config
      w7panel.kubeblocks.io/reconfigure-component-name: redis
  labels:
    w7panel.kubeblocks.io/version: {{ .Values.cluster.serviceVersion | quote }}
    w7panel.kubeblocks.io/name: redis
spec:
  terminationPolicy: Delete
  componentSpecs:
  - name: redis
    componentDef: redis-7
    serviceVersion: {{ .Values.cluster.serviceVersion | quote }}
    # affinity:
    #   podAntiAffinity: Preferred
    #   topologyKeys:
    #   - kubernetes.io/hostname
    #   tenancy: SharedNode
    # tolerations:
    # - key: kb-data
    #   operator: Equal
    #   value: 'true'
    #   effect: NoSchedule
    disableExporter: true
    enabledLogs:
    - running
    replicas: 1
    resources:
      limits:
          cpu: {{ .Values.cluster.cpu | quote }}
          memory: {{ .Values.cluster.memory | quote }}
      requests:
          cpu: {{ .Values.cluster.cpu | quote }}
          memory: {{ .Values.cluster.memory | quote }}
    volumeClaimTemplates:
    - name: data
      spec:
        storageClassName: {{ .Values.cluster.storageClassName }} 
        accessModes:
        - {{ .Values.cluster.storageRWMode | quote }}
        resources:
          requests:
            storage: {{ .Values.cluster.storageSize | quote }}
  - name: redis-sentinel
    componentDef: redis-sentinel-7
    disableExporter: true
    # affinity:
    #   podAntiAffinity: Preferred
    #   topologyKeys:
    #   - kubernetes.io/hostname
    #   tenancy: SharedNode
    # tolerations:
    # - key: kb-data
    #   operator: Equal
    #   value: 'true'
    #   effect: NoSchedule
    replicas: 1
    resources:
      limits:
          cpu: {{ .Values.cluster.cpu | quote }}
          memory: {{ .Values.cluster.memory | quote }}
      requests:
          cpu: {{ .Values.cluster.cpu | quote }}
          memory: {{ .Values.cluster.memory | quote }}
    volumeClaimTemplates:
    - name: data
      spec:
        accessModes:
        - {{ .Values.cluster.storageRWMode | quote }}
        resources:
          requests:
            storage: {{ .Values.cluster.storageSize | quote }}
        storageClassName: {{ .Values.cluster.storageClassName }}    
{{- end }}              