apiVersion: operator.victoriametrics.com/v1beta1
kind: VMServiceScrape
metadata:
   name: {{ include "k8s-offline-metrics.fullname" . }}-apiserver
   labels:
         {{- include "k8s-offline-metrics.labels" . | nindent 4 }}
spec: 
  endpoints:
  - bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
    port: https
    scheme: https
    tlsConfig:
      caFile: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
      serverName: kubernetes
  jobLabel: apiserver
  namespaceSelector:
    matchNames:
    - default
  selector:
    matchLabels:
      component: apiserver
      provider: kubernetes