apiVersion: operator.victoriametrics.com/v1beta1
kind: VMSingle
metadata:
   name: {{ include "k8s-offline-metrics.fullname" . }}-single
   labels:
         {{- include "k8s-offline-metrics.labels" . | nindent 4 }}
spec:
    extraArgs:
        maxLabelsPerTimeseries: '300'
        promscrape.dropOriginalLabels: 'true'
        promscrape.streamParse: 'true'
    image:
        tag: v1.113.0
    license: {}
    port: '8429'
    replicaCount: 1
    retentionPeriod: '1d'
    removePvcAfterDelete: true
    # serviceAccountName: w7panel-offline
    # resources:
    #     # requests:
    #     #   memory: "64Mi"
    #     #   cpu: "250m"
    #     limits:
    #       memory: "512Mi"
    #       cpu: "500m"
    storage:
        storageClassName: {{ .Values.storage.storageClassName | quote }}
        accessModes:
            - ReadWriteOnce
        resources:
            requests:
                storage: {{ .Values.storage.storageSize | quote }}

