{{- if .Values.storage.enabled -}}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "helm.fullname" . }}
  annotations:
    {{- include "helm.annotations" . | nindent 4 }}
  labels:
    {{- include "helm.labels" . | nindent 4 }}
spec:
  # reclaimPolicy: Delete
  accessModes:
    - ReadWriteOnce
  storageClassName: {{ .Values.storage.storageClassName | quote }}
  resources:
    requests:
      storage: {{ .Values.storage.storageSize | quote }}
{{- end }}      