# 写一个serviceaccount name admin
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .Release.Name }}
  annotations:
    {{- include "helm.annotations" . | nindent 4 }}
    w7.cc/menu-name: k3k.permission.founder
  labels:
    {{- include "helm.labels" . | nindent 4 }}

---

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ .Release.Name }}
  annotations:
    {{- include "helm.annotations" . | nindent 4 }}
  labels:
    {{- include "helm.labels" . | nindent 4 }}
rules:
- apiGroups: ["*"]
  resources: ["*"]
  verbs: ["*"]

---

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ .Release.Name }}
  annotations:
    {{- include "helm.annotations" . | nindent 4 }}
  labels:
    {{- include "helm.labels" . | nindent 4 }}
subjects:
- kind: ServiceAccount
  name: {{ .Release.Name }}
  namespace: default
roleRef:
  kind: ClusterRole
  name: {{ .Release.Name }}
  apiGroup: rbac.authorization.k8s.io

---

apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}
  annotations:
    {{- include "helm.annotations" . | nindent 4 }}
    kubernetes.io/service-account.name: {{ .Release.Name }}
  labels:
    {{- include "helm.labels" . | nindent 4 }}
type: kubernetes.io/service-account-token  
